[submodule "external/googletest-master"]
	path = external/googletest-master
	url = https://github.com/google/googletest.git
[submodule "external/zlib-master"]
	path = external/zlib-master
	url = https://github.com/madler/zlib
